.header {
    grid-area: header;
}

.logo {
    display: flex;
    padding: 0 40px;
    color: #7653fc;
    font-size: 30px;
    font-weight: 700;
}

.logo span {
    font-size: 24px;
    font-weight: 200;
}

@media (width <= 640px) {
    .logo {
        padding: 0 20px;
    }
}
