.button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: all 0.5s;
}

.primary {
    background: var(--primary);
}

.primary:hover {
    background: var(--primary-hover);
}

.white {
    border: 1px solid var(--gray-light);
}

.white:hover {
    background: var(--primary-hover);
    border: none;
}

.white:hover svg {
    fill: var(--white);
}
