.hamburger {
    display: none;
}

@media (width <= 960px) {
    .hamburger {
        grid-area: hamburger;
        display: grid;
        grid-template-rows: 1fr;
        padding-right: 40px;
    }
}

@media (width <= 640px) {
    .hamburger {
        padding-right: 20px;
    }
}
