.mainTitle {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: left;
    gap: 20px;
    padding-bottom: 20px;
}

@media (width <= 640px) {
    .mainTitle {
        grid-template-columns: auto 1fr;
    }
}
