.opened {
    display: none;
}

.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin: 20px 0;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--menu);
    cursor: pointer;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

.secondBlock {
    border-left: 1px dashed #dfdfdf;
    margin-left: 12px;
    padding-left: 32px;
}

.secondLevel {
    color: var(--menu);
    margin: 10px 0;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.thirdLevel {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}
