.productForm {
    display: grid;
    grid-template:
        "nameFild titleFild ratingText ratingFild" auto
        "nameError titleError . ratingError" 30px
        "textFild textFild textFild textFild" 1fr
        "textError textError textError textError" 30px
        "formButton formInfo formInfo formInfo" auto
        "successSubmit successSubmit successSubmit successSubmit" auto
        / minmax(100px, 200px) minmax(100px, 300px) 1fr auto;
    align-items: center;
    gap: 0 20px;
}

.errorField {
    padding-left: 10px;
    padding-bottom: 10px;
    color: red;
    font-size: 10px;
}

.nameFild {
    grid-area: nameFild;
}

.name {
    grid-area: nameError;
}

.titleFild {
    grid-area: titleFild;
}

.title {
    grid-area: titleError;
}

.ratingText {
    grid-area: ratingText;
    justify-self: end;
}

.ratingFild {
    grid-area: ratingFild;
    display: flex;
}

.rating {
    grid-area: ratingError;
}

.textFild {
    grid-area: textFild;
}

.text {
    grid-area: textError;
}

.formButton {
    grid-area: formButton;
}

.formInfo {
    grid-area: formInfo;
}

.successSubmit {
    grid-area: successSubmit;
    margin-top: 20px;
    position: relative;
    background: var(--green-light);
    padding: 15px;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}

@media (width <= 640px) {
    .productForm {
        grid-template-columns: [start] auto [end];
    }

    .ratingText {
        justify-self: start;
    }

    .info {
        grid-column: start/end;
    }
}
