.button {
    width: 148px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
}

.primary {
    color: var(--white);
    background: var(--primary);
}

.primary:hover {
    background: var(--primary-hover);
}

.ghost {
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    color: var(--white);
    background: var(--primary-hover);
    border: none;
}

.ghost:hover svg {
    fill: var(--white);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.right {
    transform: rotate(0deg);
    transition: all 0.3s;
}

.down {
    transform: rotate(90deg);
    transition: all 0.3s;
}

@media (width <= 480px) {
    .button {
        width: 110px;
        height: 30px;
        font-size: 12px;
    }
}
