@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --black: #3b434e;
    --white: white;
    --primary: #7653fc;
    --primary-hover: #412e8d;
    --red: #de0000;
    --orange: #fc836d;
    --green: #1dc37e;
    --green-light: #c8f8e4;
    --gray: #b3c0d9;
    --gray-light: #ebebeb;
    --menu: #787d85;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    color: var(--black);
    background: #f5f6f8;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}
