.gridContainer {
    display: grid;
    min-height: 100vh;
    padding-top: 40px;
    grid-template:
        ". header body ." auto
        ". sidebar body ." 1fr
        "footer footer footer footer" auto
        / auto 280px minmax(320px, 1200px) auto;
}

.main {
    grid-area: body;
    padding-right: 80px;
    min-height: 100vh;
}

.sidebar {
    grid-area: sidebar;
}

@media (width <= 960px) {
    .gridContainer {
        grid-template:
            "header" auto
            "body" 1fr
            "footer" auto
            / 1fr auto;
    }

    .sidebar {
        display: none;
    }

    .main {
        margin-top: 40px;
        padding: 0 40px;
    }
}

@media (width <= 640px) {
    .main {
        padding: 0 20px;
    }
}
