.gridContainer {
    display: grid;
    min-height: 100vh;
    padding-top: 40px;
    grid-template:
        ". header body ." auto
        ". skipLink body ." auto
        ". sidebar body ." 1fr
        "footer footer footer footer" auto
        / auto 280px minmax(320px, 1200px) auto;
}

.skipLink {
    grid-area: skipLink;
}

.sidebarContainer {
    grid-area: sidebar;
}

.main {
    grid-area: body;
    padding-right: 50px;
}

.banner {
    width: 1000px;
    height: 780px;
    margin: auto;
    background-image: url("../public/images/algorithm_1280.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bannerTitle {
    width: 600px;
    margin: auto;
    color: #f5f6f8;
    text-align: center;
    text-shadow: 1px 0 3px var(--primary), 0 5px 8px var(--primary), -1px 0 3px var(--primary),
        0 -1px 3px var(--primary);
    font-size: 34px;
}

@media (width <= 1340px) {
    .banner {
        width: 650px;
        height: 650px;
    }
}

@media (width <= 960px) {
    .gridContainer {
        grid-template:
            "header" auto
            "body" 1fr
            "footer" auto
            / 1fr auto;
    }

    .sidebarContainer {
        display: none;
    }

    .main {
        display: flex;
        margin-top: 40px;
        padding: 0 40px;
    }

    .banner {
        position: relative;
        width: 580px;
    }

    .bannerTitle {
        padding-top: 40px;
        font-size: 30px;
    }
}

@media (width <= 640px) {
    .main {
        padding: 0 20px;
    }

    .banner {
        width: 440px;
        height: 460px;
    }

    .bannerTitle {
        width: 400px;
        font-size: 22px;
        padding-top: 20px;
    }
}

@media (width <= 480px) {
    .banner {
        width: 300px;
        height: 450px;
    }

    .bannerTitle {
        width: 300px;
        font-size: 18px;
    }
}
