.sort {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.sort button {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 8px;
    align-items: center;
    border: none;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
}

.sort button:not(.active) {
    grid-template-columns: 1fr;
}

.icon {
    display: none;
}

.active .icon {
    display: block;
}

.active {
    color: var(--primary);
}
