.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin: 20px 0;
    grid-gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--menu);
    border: none;
    background: transparent;
    cursor: pointer;
}

.secondLevelBlock {
    border-left: 1px dashed #dfdfdf;
    margin-left: 12px;
    padding-left: 32px;
}

.secondLevel {
    overflow: hidden;
}

.secondLevelItem {
    color: var(--menu);
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
}

.thirdLevel {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.firstLevel,
.secondLevelItem {
    font-family: inherit;
}

.activeMenu,
.firstLevel:hover,
.thirdLevel:hover {
    color: var(--primary);
}

.activeMenu svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

@media (width <= 480px) {
    .firstLevelWrapper {
        display: grid;
        justify-items: center;
    }
}
