.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin: 20px 0;
    grid-gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--menu);
}

.secondLevelBlock {
    border-left: 1px dashed #dfdfdf;
    margin-left: 12px;
    padding-left: 32px;
}

.secondLevel {
    color: var(--menu);
    width: fit-content;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
}

.secondLevelTitle:focus-visible {
    outline-offset: -1px;
    outline: 1px solid var(--primary);
}

.thirdLevel {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.firstLevel div,
.secondLevel div,
.firstLevel svg {
    cursor: pointer;
}

.secondLevel div {
    margin-bottom: 10px;
}

.activeMenu,
.firstLevel:hover,
.thirdLevel:hover {
    color: var(--primary);
}

.activeMenu svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

@media (width <= 480px) {
    .firstLevelWrapper {
        display: grid;
        justify-items: center;
    }
}
