.sidebarItems {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px 30px;
}

@media (width <= 960px) {
    .sidebarItems {
        width: 300px;
        min-height: 100vh;
        background: var(--bg-main);
    }
}

@media (width <= 480px) {
    .sidebarItems {
        width: 100vw;
    }
}
